

<!-- <p-button label="Click"></p-button>

<button pButton>Hello</button>
<p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"></p-selectButton>

<p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" [(ngModel)]="selectedNodes" [options]="nodes" placeholder="Select Item"></p-treeSelect>

<p-dropdown [options]="cities" [(ngModel)]="selectedCity"  optionLabel="name"  placeholder="Select a City"></p-dropdown> -->

<!-- 使用 PrimeFlex範例 -->
<div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
        <div class="box1 border-round">1</div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="box2 border-round">2</div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="box3 border-round">3</div>
    </div>
</div>

<router-outlet></router-outlet>
