.box1 {
    background-color: #037ef3; /* 背景色 */
    padding: 20px; /* 內邊距 */
    margin: 5px; /* 外邊距 */
    font-size: 160px;
    font-weight: 900;
}

.box2 {
    background-color: #ffd900; /* 背景色 */
    padding: 20px; /* 內邊距 */
    margin: 5px; /* 外邊距 */
    font-size: 160px;
    font-weight: 900;
}

.box3 {
    background-color: #fd5c63; /* 背景色 */
    padding: 20px; /* 內邊距 */
    margin: 5px; /* 外邊距 */
    font-size: 160px;
    font-weight: 900;
}
